<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>ctrip</string>
		<string>pinduoduo</string>
		<string>openapp.jdmobile</string>
		<string>taobao</string>
		<string>imeituan</string>
		<string>iosamap</string>
		<string>alipay</string>
		<string>baiduboxapp</string>
		<string>vipshop</string>
		<string>tmall</string>
		<string>meituanwaimai</string>
		<string>kwai</string>
		<string>snssdk1128</string>
		<string>eleme</string>
		<string>qunariphone</string>
		<string>diditaxi</string>
		<string>lianjiabeike</string>
		<string>xhsdiscover</string>
		<string>dianping</string>
		<string>lianjia</string>
		<string>ksnebula</string>
		<string>sinaweibo</string>
		<string>fleamarket</string>
		<string>weixinULAPI</string>
		<string>weixin</string>
		<string>1094591345</string>
		<string>id1094591345</string>
		<string>id454434967</string>
		<string>id1617391485</string>
		<string>id1567026344</string>
		<string>baiduhaokan</string>
		<string>bdminivideo</string>
		<string>baiduboxlite</string>
		<string>baiduboxmission</string>
		<string>zhihu</string>
		<string>wireless1688</string>
		<string>iqiyi</string>
		<string>weixin</string>
		<string>qihooloan</string>
		<string>weishi</string>
		<string>travelguide</string>
		<string>wbmain</string>
		<string>taobaotravel</string>
		<string>alipays</string>
		<string>youku</string>
		<string>openjdlite</string>
		<string>cainiao</string>
		<string>kaola</string>
		<string>OneTravel</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
